@model IEnumerable<ASPNETCOREMVC.Models.Product>

@{
    ViewData["Title"] = "Sample3";
}

<h1>Sample3</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preis)
            </td>
            <td>
                @Html.ActionLink("Details", "Sample4", new { item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
